{% extends "fintly_web/home_base.html" %} {% load static %} {% block content %}

<!-- Body -->

<section>
  <div class="container">
    <br /><br />
    <h2 class=""><b>Preguntas frecuentes</b></h2>
    <hr color="#747683" />
    <br />
    <h5 class=""><b>¿Cuánto cuesta Fintly?</b></h5>
    <p>
      Fintly es gratis! Nuestro objetivo es que tengas una herramienta que te
      permita controlar tus gastos y te ayude a tener una mejor vida financiera.
      Otras herramientas en el mercado ofrecen lo mismo que Fintly pero cobran
      altas inscripciones mensuales. Creemos que pagar por una herramienta como
      Fintly va en contra de su propósito, por lo que tomamos la decisión de que
      fuera gratis para nuestros usuarios.
    </p>
    <br />

    <h5 class=""><b>¿Cómo sincronizo mis cuentas?</b></h5>
    <p>
      Para sincronizar tus cuentas de banco deberás elegir la opción
      <b>sincronizar cuenta</b> en el menú de opciones. Escoge tu institución
      bancaria y sigue el proceso para sincronizar tu cuenta. Deberás ingresar
      tus credenciales bancarias tal como lo harías para ingresar a la sucursal
      virtual de tu banco. Esta será la única vez que Fintly pedirá tus
      credenciales. A partir de aquí tu cuenta quedará sincronizada y todos tus
      datos se actualizarán automáticamente. Fintly nunca almacenará ni tendrá
      acceso a tus credenciales bancarias. En el momento que das tus
      credenciales financieras para conectar tus cuentas, estas son encriptadas
      de forma que los datos nunca son visibles, y así asegurar la privacidad de
      tus datos.
    </p>
    <br />

    <h5 class=""><b>¿Como hace Fintly para conectarse con mi banco?</b></h5>
    <p>
      Para conectarnos con tu banco utilizamos
      <a href="https://belvo.com/es/">Belvo</a>, una plataforma de Open Finance
      en Latinoamérica que permite sincronizar – de manera segura – datos
      financieros con diferentes entidades bancarias. Escogimos a Belvo como
      nuestro aliado debido a que utiliza los más altos estándares de calidad y
      las últimas tecnologías de encriptación para garantizar la seguridad de la
      información.
    </p>
    <br />

    <h5 class=""><b>¿Es Fintly seguro?</b></h5>
    <p>
      Para Fintly, la seguridad de tu información es lo más importante.
      Construimos nuestra aplicación desde cero siguiendo las mejores practicas
      de seguridad y privacidad de datos, para garantizar que tu información
      financiera siempre esté segura.
    </p>
    <br />

    <h5 class=""><b>¿Puedo sincronizar más de un solo banco?</b></h5>
    <p>
      ¡Absolutamente! Con Fintly podrás sincronizar todos los bancos con los que
      manejes productos como tarjetas débito y de crédito.
    </p>
    <br />

    <h5 class="">
      <b>¿Qué pasa si marco una transacción como “Movimiento entre cuentas”?</b>
    </h5>
    <p>
      Pagos como los abonos a tus tarjetas de crédito no deberían contar contra
      tus gastos mensuales, porque de ser así estarías contando el mismo gasto
      dos veces (la primera vez cuando hiciste el pago con la tarjeta, y la
      segunda cuando pagaste la tarjeta). Desde el resumen de un gasto (al que
      puedes acceder dando clic sobre cualquier gasto) podrás marcar cualquier
      transacción como movimiento entre cuentas. Estas transacciones no contarán
      contra tus gastos mensuales.
    </p>
    <br />

    <h5 class=""><b>¿Puedo cambiar la categoría de algún gasto?</b></h5>
    <p>
      Categorizar tus gastos en diferentes rubros es una de las funcionalidades
      de Fintly. Sin embargo, no siempre es posible obtener la categoría de tus
      gastos, o en algunas ocasiones puede que la categoría que asignemos no sea
      la correcta. Desde el menú de cada transacción podrás recategorizar
      cualquier transacción, para que puedas mantener tus gastos organizados y
      puedas identificar aquellas categorías en la que estas teniendo más
      gastos.
    </p>
    <br />

    <h5 class=""><b>Tienes alguna otra pregunta?</b></h5>
    <p>
      Si tienes alguna pregunta adicional, estaremos felices de ayudarte. Para
      esto envíanos un email a
      <a href="mailto:soporte@fintly.co">soporte@fintly.co</a>.
    </p>
    <br />
  </div>
</section>

{% endblock %}
