{% extends "fintly_web/home_base.html" %} {% load static %} {% block content %}

<!-- Body -->

<section>
  <div class="container pt-4 pb-5">
    <h1 class="pt-4">Politica de Privacidad</h1>
    <h2 class="py-3">1. Introducción</h2>
    <p>
      <b>FINTLY</b> es una compañía en Colombia cuya actividad principal es
      ofrecer una plataforma para que los usuarios puedan llevar el control de
      sus finanzas personales. Los usuarios pueden acceder a <b>FINTLY</b> a
      través de su página web o de su aplicación móvil.
    </p>
    <p>
      <b>FINTLY</b>, con la finalidad de dar cumplimiento estricto a la
      normatividad vigente de protección de Datos Personales, de acuerdo a lo
      establecido en la Ley 1581 del 2012, Decreto 1074 de 2015 y demás
      disposiciones que las modifiquen, adicionen o complementen presenta la
      siguiente POLÍTICA DE PRIVACIDAD Y TRATAMIENTO DE DATOS PERSONALES (en
      adelante “Política de privacidad”) con el propósito de proteger la
      información personal brindada por los usuarios de <b>FINTLY</b>.
    </p>
    <p>
      La Política de privacidad de datos tiene como objeto proteger el derecho
      constitucional del Habeas Data que tienen todas las personas para conocer,
      actualizar, y rectificar la información que se haya recogido y almacenado
      en las distintas bases de datos de <b>FINTLY</b>, y en virtud del
      cumplimiento de dicho derecho sólo recolecta y da Tratamiento a Datos
      Personales, cuando así haya sido autorizado previamente por su Titular,
      implementando para tal efecto, medidas claras sobre confidencialidad y
      privacidad de los Datos Personales. Así mismo, detalla los lineamientos
      generales corporativos que se seguirán con el fin de proteger los Datos
      Personales de los Titulares, las finalidades de Tratamiento de la
      información, el área responsable de atender las quejas y reclamos, y los
      procedimientos mediante el cual los usuarios podrán conocer actualizar,
      rectificar y suprimir la información almacenada en las bases de datos de
      <b>FINTLY</b>.
    </p>

    <h2 class="py-3">2. Definiciones</h2>
    <p>
      <b>Política de privacidad:</b> Documento físico, electrónico o en
      cualquier otro formato generado por el responsable que es puesto a
      disposición del titular, previo al tratamiento de sus datos personales, de
      conformidad con los deberes descriptos en el artículo 17, de la ley 1581
      de 2012.
    </p>
    <p>
      <b>Dato personal:</b> Cualquier información concerniente o vinculada una
      persona natural.
    </p>
    <p>
      <b>Titular del dato personal:</b> Persona natural cuyos datos son objeto
      de tratamiento. En el contexto de la presente Política de privacidad de
      datos, los titulares serán los usuarios de <b>FINTLY</b>.
    </p>
    <p>
      <b>Tratamiento de datos:</b> La obtención, uso, divulgación o
      almacenamiento de datos personales, por cualquier medio. El uso abarca
      cualquier acción de acceso, manejo, aprovechamiento, transferencia o
      disposición de datos personales.
    </p>
    <p>
      <b>Responsable del tratamiento:</b> Persona natural o jurídica de carácter
      público o privado que decide sobre el tratamiento de datos personales.
    </p>
    <p>
      <b>Encargado del tratamiento:</b> La persona física o jurídica que sola o
      conjuntamente con otras trate datos personales por cuenta del responsable.
    </p>
    <p>
      <b>Autorización:</b> Consentimiento previo, expreso e informado del
      Titular para llevar a cabo el tratamiento de datos personales.
    </p>
    <p>
      <b>Transferencia:</b> Toda comunicación de datos realizada a persona
      distinta del responsable o encargado del tratamiento.
    </p>
    <p>
      <b>Vulneraciones de seguridad:</b> Son aquellas que pueden ocurrir en
      cualquier momento del Tratamiento, y que pueden consistir en: la pérdida o
      destrucción no autorizada; el robo, extravío o copia no autorizada; el
      uso, acceso o tratamiento no autorizado, o el daño, la alteración o
      modificación no autorizada.
    </p>

    <h2 class="py-3">3. Principios para el tratamiento de datos personales</h2>

    <p>
      Según lo establecido en el Título II de la Ley Estatutaria 1581 de 2012,
      la protección de datos personales se regirá por la aplicación de los
      siguientes principios:
    </p>
    <p>
      <b>Principio de legalidad en materia de Tratamiento de datos: FINTLY</b>
      solamente ejecutara tratamientos que estén en conformidad con las
      disposiciones de la ley y en las demás disposiciones que la desarrollen.
    </p>
    <p>
      <b>Principio de finalidad:</b>El Tratamiento debe obedecer a una finalidad
      legítima de acuerdo con la Constitución y la Ley, la cual debe ser
      informada al Titular por el Responsable por el tratamiento.
    </p>
    <p>
      <b>Principio de libertad:</b> El Tratamiento sólo puede ejercerse con el
      consentimiento, previo, expreso e informado del Titular. Los datos
      personales no podrán ser obtenidos o divulgados sin previa autorización, o
      en ausencia de mandato legal o judicial que releve el consentimiento.
    </p>
    <p>
      <b>Principio de veracidad o calidad:</b> La información sujeta a
      Tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y
      comprensible.
    </p>
    <p>
      <b>Principio de transparencia:</b> En el tratamiento debe garantizarse el
      derecho del Titular a obtener del Responsable del tratamiento o del
      Encargado del tratamiento, en cualquier momento y sin restricciones,
      información acerca de la existencia de datos que le conciernan.
    </p>
    <p>
      <b>Principio de acceso y circulación restringida:</b> El Tratamiento se
      sujeta a los límites que se derivan de la naturaleza de los datos
      personales, de las disposiciones de la presente ley y la Constitución. En
      este sentido, el Tratamiento sólo podrá hacerse por personas autorizadas
      por el Titular y/o por las personas previstas en la presente ley.
    </p>
    <p>
      <b>Principio de seguridad:</b> La información sujeta a Tratamiento por el
      Responsable del Tratamiento o Encargado del Tratamiento se deberá manejar
      con las medidas necesarias para otorgar seguridad a los registros evitando
      su adulteración, pérdida, consulta, uso o acceso no autorizado o
      fraudulento.
    </p>
    <p>
      <b>Principio de confidencialidad:</b> Todas las personas que intervengan
      en el Tratamiento de datos personales están obligadas a garantizar la
      reserva de la información, inclusive después de finalizada su relación con
      alguna de las labores que comprende el Tratamiento, pudiendo sólo realizar
      suministro o comunicación de datos personales cuando ello corresponda al
      desarrollo de las actividades autorizadas en la presente ley y en los
      términos de la misma.
    </p>

    <h2 class="py-3">4. Derechos de los titulares</h2>

    <p>
      En cumplimiento de las garantías fundamentales consagradas en la
      Constitución y la ley, y sin perjuicio de lo dispuesto en las demás normas
      que regulen la materia, los Titulares de los datos personales podrán
      ejercer de forma gratuita e ilimitadamente los siguientes derechos:
    </p>
    <p>
      <b>Derecho al acceso</b> a su información personal objeto de ratamiento.
    </p>
    <p>
      <b>Derecho a la actualización</b> de los datos personales objeto de
      tratamiento.
    </p>
    <p>
      <b>Derecho a la rectificación</b> de los datos personales objeto de
      tratamiento.
    </p>
    <p>
      <b>Derecho de oposición</b> a que los datos personales sean objeto de
      tratamiento
    </p>
    <p>
      <b>Derecho a solicitar la supresión</b> de los datos personales cuando en
      el tratamiento no se respeten los principios, derechos y garantías
      constitucionales y legales.
    </p>
    <p>
      <b>Derecho a solicitar prueba</b> de la autorización otorgada para el
      tratamiento.
    </p>
    <p>
      <b>Derecho a revocar el consentimiento</b> para el tratamiento de los
      datos personales.
    </p>
    <p>
      <b>Derecho a presentar quejas y reclamos</b> ante la Superintendencia de
      Industria y Comercio por infracciones a lo dispuesto en la Ley Estatutaria
      1581 de 2012 y las demás normas que la modifiquen, adicionen o
      complementen.
    </p>
    <p>
      <b>Derecho a ser informado</b> por parte del Responsable y/o Encargado del
      uso y tratamiento que se les dará a los datos personales, así como de las
      modificaciones y actualizaciones de las políticas de protección, medidas
      de seguridad y finalidades.
    </p>

    <h2 class="py-3">5. Gestión de los datos personales</h2>
    <h3 class="mb-3">5.1. Recolección de datos</h3>
    <p>
      La recolección de datos personales de usuarios potenciales y usuarios de
      FINTLY, se realizará de las siguientes formas:
    </p>
    <ul>
      <li>
        A través del acceso a la aplicación, mediante la creación de una cuenta
        de usuario con correo electrónico y contraseña.
      </li>
      <li>
        Los datos financieros se recolectan a través de una integración con
        Belvo (https://belvo.com/es/). Belvo una plataforma digital que permite
        conectar consumidores, instituciones financieras y desarrolladores.
      </li>
    </ul>
    <h3 class="my-3">
      5.2. Datos recolectados, finalidad de datos personales y vigencia de los
      datos
    </h3>
    <p>
      A continuación, se resumen los datos recolectados de los usuarios de
      FINTLY y la finalidad y uso de la recolección de los mismos.
    </p>

    <table class="table table-bordered table-responsive-sm">
      <tr>
        <th>Categoría de datos</th>
        <th>Datos recolectados</th>
        <th>Finalidad y uso</th>
        <th>Vigencia de los datos</th>
      </tr>
      <tr>
        <td>Datos personales</td>
        <td>Nombre, Apellido, Email.</td>
        <td>
          Registrar Usuarios en nuestros sistemas y plataformas de aplicación
        </td>
        <td>5 años o hasta que el Titular solicite la eliminación</td>
      </tr>
      <tr>
        <td>Datos financieros</td>
        <td>
          Datos bancarios y transaccionales:
          <ul class="mt-2">
            <li>Sucursales bancarias.</li>
            <li>Número de cuentas.</li>
            <li>Saldo de las cuenta bancaria.</li>
            <li>Transacciones en la cuenta bancaria</li>
            <li>
              Datos de la factura de la tarjeta de crédito como vencimiento,
              valor, tasas de interés aplicadas.
            </li>
            <li>
              Datos en préstamo productos contratados como valor del contrato,
              monto de la cuota, fecha de pago y datos de la inversión como
              Nombre del Fondo, aplicación, rentabilidad.
            </li>
          </ul>
        </td>
        <td>
          Proveer al usuario con el resumen de su actividad financiera:
          <ul class="mt-2">
            <li>Gastos e ingresos por mes.</li>
            <li>Resumen de todas sus transacciones.</li>
            <li>Categorías de sus gastos e ingresos.</li>
          </ul>
        </td>
        <td>5 años o hasta que el Titular solicite la eliminación.</td>
      </tr>
    </table>

    <h2 class="py-3">6. Tratamiento de los datos personales</h2>
    <p>
      Todo Tratamiento de Datos Personales llevado a cabo por <b>FINTLY</b> es
      conforme y limitado a las finalidades para el uso de datos establecidas en
      la presente Política de privacidad.
    </p>
    <p>
      <b>FINTLY</b> no realizará ningún tratamiento sin la debida autorización
      previa, informada y expresa del Titular de la información, salvo cuando el
      tratamiento pretendido:
    </p>

    <ul>
      <li>Esté previsto en una Ley;</li>
      <li>Los datos figuren en fuentes de acceso público;</li>
      <li>
        Los datos personales se sometan a un procedimiento previo de
        disociación;
      </li>
      <li>
        Exista una situación de emergencia que potencialmente pueda dañar a un
        individuo en su persona o en sus bienes;
      </li>
      <li>
        Sean indispensables para la atención médica, la prevención, diagnóstico,
        la prestación de asistencia sanitaria, tratamientos médicos o la gestión
        de servicios sanitarios, mientras el titular no esté en condiciones de
        otorgar el consentimiento, en los términos que establece la Ley General
        de Salud y demás disposiciones jurídicas aplicables y que dicho
        tratamiento de datos se realice por una persona sujeta al secreto
        profesional u obligación equivalente, o
      </li>
      <li>Se dicte resolución de autoridad competente.</li>
    </ul>

    <h2 class="py-3">7. Oficial para la Protección de Datos</h2>

    <p>
      El Oficial para la protección de datos es el funcionario de
      <b>FINTLY</b> responsable de asegurarse del cumplimiento de las
      obligaciones impuestas por la regulación, que asigna responsabilidades y
      que dirige las actividades de capacitación de los colaboradores de FINTLY.
    </p>
    <p>
      El OPD es el encargado de evaluar los riesgos y vulnerabilidades a los que
      están expuestos los Datos Personales que tenga en posesión, y en su caso,
      fortalecer las políticas de <b>FINTLY</b> con el propósito de aminorar los
      riesgos que detecte.
    </p>
    <p></p>
    <p>
      Las medidas que el DPO tome para la protección de los Datos Personales
      deben tomar en consideración lo siguiente:
    </p>
    <ul>
      <li>El riesgo inherente por tipo de Dato Personal.</li>
      <li>La sensibilidad de los Datos Personales tratados.</li>
      <li>Las posibles consecuencias de una vulneración para los titulares.</li>
    </ul>

    <p>
      Para contactar al OPD el medio de contacto es
      <a href="mailto:privacidaddedatos@fintly.com"
        >privacidaddedatos@fintly.com</a
      >.
    </p>

    <h2 class="py-3">
      8. Canales de acceso y procedimientos para los usuarios
    </h2>
    <p>
      Con el fin de garantizar los derechos de los Titulares del Habeas Data,
      <b>FINTLY</b>
      pone a disposición los siguientes canales de acceso y procedimientos:
    </p>
    <h3 class="mb-3">
      8.1. Eliminación de los datos del titular y revocación del consentimiento
      para tratamiento de datos
    </h3>
    <p>
      Para la eliminación y revocación del consentimiento para tratamiento de de
      todos los datos del titular, este deberá eliminar su cuenta de usuario.
      Esta acción se podrá realizar directamente desde la aplicación móvil,
      desde la sección de perfil de usuario ubicada en el menú principal. Una
      vez el usuario elimine su cuenta, todos sus datos personales serán
      eliminados de todas las bases de datos de <b>FINTLY</b> en las que se
      pudieran encontrar.
    </p>
    <p>
      Adicionalmente, el Titular también podrá solicitar la eliminación de todos
      sus datos de las bases de datos de <b>FINTLY</b> y/o solicitar la
      revocación de su consentimiento para el tratamiento de datos haciendo la
      solicitud correspondiente mediante el proceso descrito en el inciso 8.2
      Proceso para quejas y reclamos.
    </p>
    <h3 class="mb-3">8.2. Proceso para solicitudes, quejas y reclamos</h3>
    <p>
      Todas las comunicaciones, solicitudes, consultas, quejas y/o reclamos
      deberán ser dirigidas al Oficial para la Protección de Datos, por medio de
      correo electrónico al correo
      <a href="mailto:privacidaddedatos@fintly.com"
        >privacidaddedatos@fintly.com</a
      >.
    </p>
    <p>
      El Titular deberá aportar lo siguiente para cualquier comunicación,
      solicitud, consulta, queja y/o reclamo:
    </p>
    <ul>
      <li>
        Su nombre y domicilio, u otro medio para comunicar la respuesta a tu
        solicitud.
      </li>
      <li>
        Copia de su identificación y, en su caso, de su representante legal.
      </li>
      <li>
        La descripción clara y precisa de los datos personales respecto de los
        que desea ejercer alguno de los derechos relacionados con el tratamiento
        de tus datos; y
      </li>
      <li>
        Cualquier otro elemento o documento que facilite la localización de sus
        datos personales.
      </li>
    </ul>
    <p>
      <b>FINTLY</b> comunicará la determinación adoptada sobre su solicitud en
      un plazo de 20 días. Excepcionalmente, podremos prorrogar este plazo,
      hasta por el máximo permitido por la normativa aplicable y teniendo en
      cuenta la complejidad de la solicitud. De resultar procedente su
      solicitud, ésta se hará efectiva en los 15 días siguientes a la fecha en
      que se le comunique la respuesta a su solicitud; en caso de considerar que
      su solicitud resulta improcedente, Belvo se lo informará directamente,
      indicando las razones de su determinación.
    </p>
    <h2 class="py-3">9. Transferencia de datos personales</h2>
    <p>
      <b>FINTLY</b> no transferirá datos del Titular sin previa autorización por
      parte de este, con ningún actor externo, salvo:
    </p>
    <p></p>
    <ul>
      <li>
        Cuando la transferencia esté prevista en una Ley o Tratado en los que
        Colombia sea parte.
      </li>
      <li>
        Cuando la transferencia sea necesaria o legalmente exigida para la
        salvaguarda de un interés público, o para la procuración o
        administración de justicia.
      </li>
      <li>
        Cuando la transferencia sea precisa para el reconocimiento, ejercicio o
        defensa de un derecho en un proceso judicial.
      </li>
    </ul>
    <br />
    <p><b>Fecha de actualización: </b> Noviembre 7 de 2022</p>
  </div>
</section>

<!-- FOOTER -->
<footer id=" main-footer" class="bg-fintlyDark text-light">
  <div class="container">
    <div class="row">
      <div class="col text-center py-4">
        <h3 class="logo">Fintly</h3>
        <p>
          Copyright &copy;
          <span id="year"></span>
        </p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
